body {
  	background-color: #032030;
  	color: white;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh;
  	margin: 0;
  	font-family: 'JetBrains Mono', monospace;
}
a {
  	font-size: 20px;
  	color: white;
  	text-decoration: none;
  	margin: 0 15px;
	font-weight: 700;
}
a:hover {
  	text-decoration: underline;
}