---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhalvin | Web Dev Portfolio">
    <div class="flex flex-col justify-center h-screen bg-[#032030] text-white font-mono px-60">
        <h1 class="text-[40px] font-bold mb-6 leading-relaxed tracking-tight">
            👋 Hi, I'm <span class="text-[#FF6347]">Muhalvin</span>
        </h1>
        <p class="text-[20px] mb-4 tracking-tight">
            Welcome to my <span class="text-[#FFD700]">personal site</span>!
        </p>
        <p class="text-[18px] mb-6 tracking-tight">
            I’m a self-taught developer with a passion for learning and teaching others. 
            Currently, I work with the amazing team at PRATAMA as a Web Developer.
        </p>
        <div class="flex space-x-12 mt-4 tracking-tight">
            <a href="https://muhalvin.my.id" target="_blank" class="text-[14px] font-bold hover:underline">
                www - <span class="text-[#FFD700]">Visit my website</span>
            </a>
            <a href="https://muhalvin.medium.com" target="_blank" class="text-[14px] font-bold hover:underline">
                medium - <span class="text-[#FFD700]">Read my articles</span>
            </a>
            <a href="mailto:work.muhalvin@gmail.com" target="_blank" class="text-[14px] font-bold hover:underline">
                email - <span class="text-[#FFD700]">Get in touch</span>
            </a>
        </div>
    </div>
</Layout>
